
<div class="row">
  <div class=" col-lg-2 col-md-2 col-sm-2">
    <div class="jumbotron">
      
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="jumbotron">
     <h2><%=@event.name%></h2>
      <p><%=@event.description%></p>
      <p><%=@event.start_date%></p>

      <h3>About the event evenue</h3>

      <% if can? :create, Order %>
        <h3>Buy a ticket!</h3>

        <%=form_with(url:'/shopping_cart/add', local: true) do |form| %>
            <%=form.select(:ticket_type_id,
                         options_from_collection_for_select(
                             TicketType.where(event_id: @event.id).map { |ttype|
                                zone = ttype.ticket_zone
                                class << ttype
                                  attr_accessor :zone_details
                                end
                                ttype.zone_details = "#{zone.zone} - #{ttype.price}"
                                ttype
                             }, :id, :zone_details)
             ) %>
            <%=form.select(:amount, options_for_select((1..10).map { |val| [val, val]} )) %>
          <div class="actions">
            <%= form.submit 'Add to cart' %>
          </div>
        <%end # form%>
      <%end # can%>
      <ul>
        <li>Venue: <%=@event.event_venue.name%></li>
        <li>Capacity: <%=@event.event_venue.capacity%></li>
      </ul>


        <button><%= link_to 'Back', :back %></button> 
      </div>
    </div>    
    <div class="col-lg-2 col-md-2 col-sm-2">
      <div class="jumbotron">
        
      </div>
    </div>
    <% if can? :edit, Event %>
      <button><%=link_to 'Edit', edit_event_path(@event) %></button>
    <% end %>
</div>

